/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.row {
  display: flex;
  padding: 10px 20px;
  align-items: center;

  .label {
    width: 200px;
    overflow: hidden;
  }

  mat-form-field {
    margin-left: 20px;
  }
}
