<mat-vertical-stepper #subStepper [linear]="isLinear" (selectionChange)="clickStep($event)">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Выбор периметра</ng-template>
        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Выбор обьектного моделирования</ng-template>
        </form>
    </mat-step>
</mat-vertical-stepper>
