.analyse {
  display: flex;
  background-color: #eae7e7;
  height: 100%;

  .analyse-content {
    width: 100%;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 1%;
  }
}
